  <% if (locals.tab === 'my-drive' || locals.tab === 'starred' || locals.tab === 'recent' || locals.tab === 'shared' || locals.tab === 'trash' || locals.tab === 'storage' || locals.tab === 'admin' || locals.sessions) { %>
    <script src="/js/drive.js"></script>
    <script src="/js/shortcuts.js"></script>
  <% } else if (locals.type) { %>
    <script src="/js/preview.js"></script>
  <% } else { %>
    <script src="/js/auth.js"></script>
  <% } %>
</body>
</html>
